<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>View All</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="POST"  th:object="${userPasswordChangeByEmailForm}">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			<table>
				<tr>
					<td>e-mail:</td>
					<td><input type="email" name="email" required="true" th:field="*{email}"/></td>
				</tr>
				<tr>

					<td></td>
					<td><input type="submit" /></td>
				</tr>
			</table>
		</form>
	</div>


</body>
</html>