<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>View All</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="POST" 	th:object="${userPasswordChangeForm}">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			<table>
				<tr>
					<td>Old password:</td>
					<td><input type="password" name="passwordOld" required="true"
						th:field="*{passwordOld}" /></td>
				</tr>
				<tr>
					<td>New password:</td>
					<td><input type="password" name="password" required="true"
						th:field="*{password}" /></td>
				</tr>
				<tr>
					<td>Confirm password:</td>
					<td><input type="password" name="passwordConfirmed"
						required="true" th:field="*{passwordConfirmed}" /></td>
				</tr>

				<tr>
					<td></td>
					<td><input type="submit" /></td>


				</tr>
			</table>
		</form>
	</div>


</body>
</html>